$grey: rgba(200, 200, 200, 1);
$grey-light: rgba(240, 240, 240, 1);
$primary: rgba(0, 48, 73, 1);
$info: rgba(252, 191, 73, 1);
$warning: rgba(247, 127, 0, 1);
$danger: rgba(214, 40, 40, 1);
$weight-bold: 700;
$size-1: 5rem;
$gap: 64px;
